extends layout

block content
  .container
    .row
      .col-md-6.mx-auto
        .card.mt-5
          .card-header
            h1.header My Profile
          .card-body.detail
            ul.list-group
              li.list-group-item
                strong User ID
                span #{user._id}
              li.list-group-item
                strong Name
                span #{user.first_name} #{user.last_name}
              li.list-group-item
                strong Email
                span #{user.email}
              if user.isMember 
                li.list-group-item
                    strong Member since
                    span #{user.member_formatted_date}                         
              li.list-group-item
                strong Account Type
                if user.isAdmin
                  span.admin Admin
                else if user.isMember
                  span.member Member
                else
                  span.guest Guest
              li.list-group-item
                .count-container
                    strong Upvotes
                    span #{upvotes}
                .count-container
                    strong Downvotes
                    span #{downvotes}
                .count-container      
                    strong Messages
                    span #{messages} 
  .feed.profile 
    if user
      if errors
       for error in errors 
         .error= error.msg
    if posts
     for post in posts 
      .post(id=post._id) 
        .post-left 
          if user && user.isMember 
            .post-header
              .post-name= post.user.full_name
              a(href="mailto:"+post.user.email).post-mail= post.user.email
              .post-date= post.formatted_date 
          else 
            .post-header 
              .post-name Anonymous 
              .post-date= post.formatted_date
          .post-content= post.content
          if (user && user.isAdmin )|| user._id.toString() == post.user._id.toString() 
            a(href=post.url + '/delete').post-delete Delete Post
        .post-reactions
          if user
            if post.upvotes.includes(user._id)
              a(href=post.url + '/upvote' class='upvoted') 
                svg(viewBox="0 0 24 24")
                  title arrow-up-bold-outline
                  path(d="M16,13V21H8V13H2L12,3L22,13H16M7,11H10V19H14V11H17L12,6L7,11Z")
                count= post.upvotes.length
            else 
              a(href=post.url + '/upvote') 
                svg(viewBox="0 0 24 24")
                  title arrow-up-bold-outline
                  path(d="M16,13V21H8V13H2L12,3L22,13H16M7,11H10V19H14V11H17L12,6L7,11Z")
                count= post.upvotes.length
          else
            a(href='/auth/login')
              svg(viewBox="0 0 24 24")
                title arrow-up-bold-outline
                path(d="M16,13V21H8V13H2L12,3L22,13H16M7,11H10V19H14V11H17L12,6L7,11Z")
              count= post.upvotes.length

          if user
            if post.downvotes.includes(user._id)
              a(href=post.url + '/downvote' class='downvoted') 
                svg(viewBox="0 0 24 24")
                  title arrow-up-bold-outline
                  path(d="M16,13V21H8V13H2L12,3L22,13H16M7,11H10V19H14V11H17L12,6L7,11Z")
                count= post.downvotes.length
            else
              a(href=post.url + '/downvote') 
                svg(viewBox="0 0 24 24")
                  title arrow-up-bold-outline
                  path(d="M16,13V21H8V13H2L12,3L22,13H16M7,11H10V19H14V11H17L12,6L7,11Z")
                count= post.downvotes.length
          
          else
            a(href='/auth/login')
              svg(viewBox="0 0 24 24")
                title arrow-up-bold-outline
                path(d="M16,13V21H8V13H2L12,3L22,13H16M7,11H10V19H14V11H17L12,6L7,11Z")
              count= post.downvotes.length

